In [ ]:
CREATE WAREHOUSE mon_entrepot WITH 
  WAREHOUSE_SIZE = 'XSMALL' 
  AUTO_SUSPEND = 300 
  AUTO_RESUME = TRUE;

In [ ]:
CREATE DATABASE ma_base;

In [ ]:
CREATE SCHEMA ma_base.mon_schema;

In [ ]:
USE WAREHOUSE mon_entrepot;
USE DATABASE ma_base;
USE SCHEMA mon_schema;

SELECT COUNT(*) FROM CUSTOMERS;
SELECT COUNT(*) FROM INVENTORY;
SELECT COUNT(*) FROM ORDERS;

SELECT * FROM CUSTOMERS LIMIT 10;
SELECT * FROM INVENTORY LIMIT 10;
SELECT * FROM ORDERS ORDER BY SOLD_AT DESC LIMIT 10;

In [ ]:
SELECT COUNT(*) FROM INVENTORY;
SELECT * FROM INVENTORY;

In [ ]:
SELECT COUNT(*) FROM ORDERS;
SELECT * FROM ORDERS ORDER BY SOLD_AT DESC;

In [ ]:
SELECT COUNT(*) FROM CUSTOMERS;
SELECT * FROM CUSTOMERS;